---
# Follow the instructions at
# https://github.com/fullscreen/yt#configuring-your-app to set up your client
# id and secret. The refresh_tokens section should be populated by usernames
# and associated refresh tokens for each account you want to manage.
youtube:
  client_id: ''
  client_secret: ''
  refresh_tokens:
    CodeMonkeyPodcast: ''
    gisikwReads: ''
    gisikwGames: ''
    gisikwVlogs: ''
    gisikw: ''
